.parallax
    .parallax_group
        .parallax-layer.parallax-layer-back
            h1=title
        .parallax-layer.parallax-layer-base
            h2=description
    .parallax_group
        .parallax-layer.parallax-layer-back
            h1=title
        .parallax-layer.parallax-layer-base
            h2=description
        .parallax-layer.parallax-layer-deep
            h2=description