-
    const storyList = data.happinessis.story
    //using slug function, toLowerCase() all upper cases from that particulary string will be lowcase.
    //trim() remove whitespaces from both sides of a string
    //replace() in here we use regex to add in whitespaces of a string the '-'
    const slug = bla => bla.toLowerCase().trim().replace(/\s+/g, '-')

.content
    .menu-wrapper
        input#menu-back-button(type="radio" name="storyList")
        .menu-background
        .menu
            - i = 0;
            each story in storyList
                - let className = story.class || ''
                - let checked = (i + 1 === storyList.length)

                if checked
                    input(type="radio" id=`story-${i}` name="storyList" checked).menu-input 
                else
                    input(type="radio" id=`story-${i}` name="storyList").menu-input


                .card(id=slug(`${story.title}`))
                    - var storyIcon = story.icon.replace(/\s+/g, '-').toLowerCase();
                    h1 #{story.title}
                    .card-body
                        each line in story.lines
                            h2 !{line}
                
                section(
                    class=`menu-item ${story.title}`
                    bla=story.title
                )
                    label.menu-link(href=slug(`#${story.title}`) for=`story-${i}` class=`menu-link happiness-is__icon--${storyIcon}`)
                    //- label.menu-link(href=slug(`#${story.title}`) for=`story-${i}`) #{story.title}
                - i++;
        label.menu-back-button.happiness-is__icon--menu3(for="menu-back-button")
            span.menu-label-content Menu