-
    const storyList = data.happinessis.story
    //using slug function, toLowerCase() all upper cases from that particulary string will be lowcase.
    //trim() remove whitespaces from both sides of a string
    //replace() in here we use regex to add in whitespaces of a string the '-'
    const slug = bla => bla.toLowerCase().trim().replace(/\s+/g, '-')

.content
    //- each story in storyList
    .menu-wrapper
        input#menu-back-button(type="radio" name="storyList")
        .menu-background
        .menu
            - i = 0;
            each story in storyList
                .card(id=slug(`${story.title}`))
                    h1 #{story.title}
                    .card-body
                        each line in story.lines
                            h2 #{line}
                input(type="radio" id="story-#{i}" name="storyList").menu-input
                section(class="menu-item #{story.class}")
                    label.menu-link(href=slug(`#${story.title}`) for="story-#{i}") #{story.title}
                - i++;
        label.menu-back-button(for="menu-back-button") Menu