-
    const storyList =data.happinessis.story

.content
    each story in storyList
        .card(id="#{story.title}")
            h1 #{story.title}
            .card-body
                each line in story.lines
                    h2 #{line}
        .test
        .menu-wrapper
            ul.menu
                each story in storyList
                    li.menu-item
                        a.menu-link(href=`#${story.title}`) ##{story.title}
