-
    const storyList = data.happinessis.story
    //using slug function, toLowerCase() all upper cases from that particulary string will be lowcase.
    //trim() remove whitespaces from both sides of a string
    //replace() in here we use regex to add in whitespaces of a string the '-'
    const slug = bla => bla.toLowerCase().trim().replace(/\s+/g, '-')

.content
    each story in storyList
        .card(id=slug(`${story.title}`))
            h1 #{story.title}
            .card-body
                each line in story.lines
                    h2 #{line}
        .menu-wrapper
            ul.menu
                each story in storyList
                    li(class="menu-item #{story.class}")
                        a.menu-link(href=slug(`#${story.title}`)) #{story.title}